<h4>Attendance of student {{id}}</h4>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
</head>
<body>
    <form method = "post" class="post-form" action="/update/{{ Students.id }}">
        <input type = "hidden" name="id" id="id" required maxlength="20" value="{{ Students.id }}"/>
        {% csrf_token %}
    <div class="container">
<br>
    <div class=""
    </div>
    
</body>
</html>